<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="TailspinSpaceGameWebModels" value="https://pkgs.dev.azure.com/eborquez/a1607fef-4d87-4491-9661-19c803441f02/_packaging/TailspinSpaceGameWebModels/nuget/v3/index.json" />
  </packageSources>
</configuration>